.app{
  height: 100vh;                
  background-color: rgb(234, 236, 239);
  background-size: 100% 100%;       
  background-position: center;  
  background-repeat: no-repeat; 

}
/*background-image: url("./assets/home_page1.jpg");*/